In [ ]:
import datetime as dt

In [ ]:
datet=dt.datetime(2025,4,30,10,30,0)
print(datet)

2025-04-30 10:30:00

In [ ]:
now=dt.datetime.now()
print(now)

2025-04-30 07:06:30.222592

In [ ]:
formattedDate=now.strftime("%d/%b/%Y  %H:%M:%S")
print(formattedDate)

30/Apr/2025  07:06:30

In [ ]:
from datetime import datetime

In [ ]:
date_str = "29/04/2025"
dt = datetime.strptime(date_str, "%d/%m/%Y")
print(dt)

2025-04-29 00:00:00

In [ ]:
formatted_date = dt.strftime("%d-%b-%Y %H:%M:%S")
print(formatted_date)

29-Apr-2025 00:00:00

In [ ]:
from datetime import timedelta
future_date = dt + timedelta(days=10)
print(future_date)

2025-05-09 00:00:00

In [ ]:
earlier_date = datetime(2025, 4, 20)
difference = dt - earlier_date
print(difference)

9 days, 0:00:00

In [ ]:
print(dt.year)
print(dt.month)
print(dt.day)
print(dt.hour)
print(dt.minute)

2025
4
29
0
0

In [ ]:
def days_until(target_date_str):
 target_date = datetime.strptime(target_date_str, "%Y-%m-%d")
 today = datetime.now()
 delta = target_date - today
 return delta.day
 print(today)
 print(delta)

In [ ]:
import pandas as pd
sales=pd.read_csv("/content/sample_sales_data.csv")
print(sales)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books   1/1/2025         6  331.73
1   ORD0002       Edward        Books   1/2/2025         3  310.03
2   ORD0003        Alice     Clothing   1/3/2025         9  176.17
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
4   ORD0005       George         Home   1/5/2025         7  406.03
..      ...          ...          ...        ...       ...     ...
95  ORD0096        Diana     Clothing   4/6/2025         5  368.23
96  ORD0097          Bob        Books   4/7/2025         8  360.17
97  ORD0098        Diana     Clothing   4/8/2025         9   29.97
98  ORD0099        Alice         Home   4/9/2025         5  465.20
99  ORD0100      Charlie        Books  4/10/2025         9   41.55

    TotalAmount     Status
0       1990.38   Canceled
1        930.09  Completed
2       1585.53   Canceled
3        239.91    Pending
4       2842.21   Canceled
..          ...        ...
95      1841.15  Completed
96      2881.36  Completed
97       269.73   Canceled
98      2326.00    Pending
99       373.95    Pending

[100 rows x 8 columns]

In [ ]:
dates=sales['OrderDate']
dates

0      1/1/2025
1      1/2/2025
2      1/3/2025
3      1/4/2025
4      1/5/2025
        ...
95     4/6/2025
96     4/7/2025
97     4/8/2025
98     4/9/2025
99    4/10/2025
Name: OrderDate, Length: 100, dtype: object

In [ ]:
sales['OrderDate']=pd.to_datetime(sales['OrderDate'])
future_date=sales["OrderDate"]+ timedelta(days=10)
print(future_date)

0    2025-01-11
1    2025-01-12
2    2025-01-13
3    2025-01-14
4    2025-01-15
        ...
95   2025-04-16
96   2025-04-17
97   2025-04-18
98   2025-04-19
99   2025-04-20
Name: OrderDate, Length: 100, dtype: datetime64[ns]

In [ ]:
print(sales["OrderDate"].dt.year)

0     2025.0
1     2025.0
2     2025.0
3     2025.0
4     2025.0
       ...
95    2025.0
96    2025.0
97    2025.0
98    2025.0
99    2025.0
Name: OrderDate, Length: 100, dtype: float64

In [ ]:
print(sales["OrderDate"].dt.month)

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
     ...
95    4.0
96    4.0
97    4.0
98    4.0
99    4.0
Name: OrderDate, Length: 100, dtype: float64

In [ ]:
formateddate=sales["OrderDate"].dt.strftime("%d-%b-%Y")
formateddate

0     01-Jan-2025
1     02-Jan-2025
2     03-Jan-2025
3     04-Jan-2025
4     05-Jan-2025
         ...
95    06-Apr-2025
96    07-Apr-2025
97    08-Apr-2025
98    09-Apr-2025
99    10-Apr-2025
Name: OrderDate, Length: 100, dtype: object