In [6]:
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error
import pandas as pd

In [5]:
y = np.random.randint(0, 20, size=10)
y_hat = np.random.randint(0, 20, size=10)

In [30]:
df = pd.DataFrame({
    "y (Actual)": list(y) + [80],
    "y_hat (Predicted)": list(y_hat) + [15]
})

In [31]:
df

    y (Actual)  y_hat (Predicted)
0            2                 11
1           18                  9
2            2                 11
3            6                 17
4            6                 11
5            5                 11
6           13                 12
7           11                 11
8           11                 18
9           16                 19
10          80                 15

In [32]:
df.loc[:, "y - y_hat"] = df["y (Actual)"] - df["y_hat (Predicted)"]

In [33]:
df

    y (Actual)  y_hat (Predicted)  y - y_hat
0            2                 11         -9
1           18                  9          9
2            2                 11         -9
3            6                 17        -11
4            6                 11         -5
5            5                 11         -6
6           13                 12          1
7           11                 11          0
8           11                 18         -7
9           16                 19         -3
10          80                 15         65

In [34]:
df.loc[:, "abs"] = np.abs(df["y - y_hat"])
df.loc[:, "sqe"] = np.square(df["y - y_hat"])

In [35]:
df

    y (Actual)  y_hat (Predicted)  y - y_hat  abs   sqe
0            2                 11         -9    9    81
1           18                  9          9    9    81
2            2                 11         -9    9    81
3            6                 17        -11   11   121
4            6                 11         -5    5    25
5            5                 11         -6    6    36
6           13                 12          1    1     1
7           11                 11          0    0     0
8           11                 18         -7    7    49
9           16                 19         -3    3     9
10          80                 15         65   65  4225

In [39]:
sum(df["sqe"]) / df.__len__()

428.09090909090907

In [40]:
mean_squared_error(df["y (Actual)"], df["y_hat (Predicted)"])

428.09090909090907

In [41]:
mean_absolute_error(df["y (Actual)"], df["y_hat (Predicted)"])

11.363636363636363